//font-family
$zurichB : "ZurichBTBold",        sans-serif;
$zurichR : "ZurichBTRoman",       sans-serif;
$myriad  : "MyriadProSemiBold ",  sans-serif;
$klavika : "KlavikaMedium-Plain", sans-serif;

//text size and line-height
$tz : 12px;
$tl : 18px;