.logo {
	padding-left: 53px;
	position: relative;

	&__header {
		margin-top: 14px;
		margin-bottom: -2px;

		color: #000;
		font-family: $klavika;
		font-size: 34px;
		font-weight: normal;
		text-transform: uppercase;
	}

	&__description {
		margin: 0;
		padding-left: 3px;

		color: #858689;
		font-family: $myriad;
		font-size: 10px;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 0.9px;
	}

	&__img {
		position: absolute;
		top: -9px;
		left: 26px;
	}
}